* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 80%;
    margin: auto;
}

.first {
    background-color: pink;
    height: 150px;
    margin-bottom: 20px;
}

.second {
    background-color: yellow;
    height: 500px;
    margin-bottom: 20px;
}

main {
    background-color: blue;
}

.title {
    background-color: lightblue;
    height: 100px;
    margin-bottom: 20px;
}

.col {
    float: left;
    width: 30%;
    height: 600px;
    padding: 1px;
    margin-bottom: 20px;
    background-color: lightblue;
}

.left {
    margin-right: 5%;
}

.right {
    margin-left: 5%;
}

.footer {
    margin-top: 20px;
    background-color: lightpink;
    height: 150px;